build
.dep
*.tmp
*.backup

# Eclipse files
*eclipse*

# QtCreator files
*.includes
*.files
*.config
*.creator
*.creator.user

# Shadow files
*kate-swp
*~

# Backup files
*backup*
*Backup*

doc/html
doc/latex
os/doc/html
os/doc/latex
